global
    daemon
    maxconn 256

defaults
    mode    http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    clitimeout      100s
    srvtimeout      100s
    contimeout      100s
    timeout queue   100s

    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats auth admin:password
    stats uri  /haproxy?stats
frontend app01-http
    bind *:80
    mode http
    default_backend app01-nodes

backend app01-nodes
##roundrobin
##
    balance leastconn
    server mtrcs01srv01prd 172.18.10.101:80 check
    server mtrcs01srv02prd 172.18.10.102:80 check
    server mtrcs01srv03prd 172.18.10.103:80 check
    server mtrcs01srv04prd 172.18.10.104:80 check
    #server app01dkr05 172.18.10.105:80 check
    #server app01dkr06 172.18.10.106:80 check
    #server app01dkr07 172.18.10.107:80 check
